*{
    margin: 0;
}
    
body{
    
}

.headline{
    font-size: 20px;
    border-bottom: solid black 1px;
    padding: 15px;
    
}

.profile{
    text-indent: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.paragraph p{
    padding: 10px;
    font-size: 15px;
}

.paragraph p:hover{
    color: rgb(30, 28, 28);
    padding: 10px;
    font-size: 17px;
    transition: 0.5s;
}

.contrainer{
    border-top: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contrainer ul {
    list-style-type: circle;
    padding-bottom: 10px;
}
